[submodule "deps/fonts"]
	path = deps/fonts
	url = https://github.com/google/fonts.git
[submodule "deps/roboto"]
	path = deps/roboto
	url = https://github.com/google/roboto.git
[submodule "deps/woff2"]
	path = deps/woff2
	url = https://github.com/google/woff2.git
